@media only screen and ( min-width : 360px ) and ( max-device-width : 640px ) {

  .container {
    background-color: rgb(255, 139, 0);
    display: flex;
    height: 100vh;
  }

  .container input {
    border: solid 1px rgb(204, 77, 3);
    display: flex;
    padding: 1rem;
    width: 70%;
  }

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
  }

  .button {
    align-items: center;
    background-color: rgb(94, 63, 26);
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 3rem;
    justify-content: center;
    transition: 0.7s;
    width: 70%;
  }

  .button:disabled {
    align-items: center;
    background-color: rgb(141, 141, 140);
    color: rgb(87, 86, 86);
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .logo {
    width: 300px;
  }


}
