@media only screen and ( min-width : 360px ) and ( max-device-width : 640px ) {

  .button {
    border: 1px solid rgb(255, 139, 0);
    border-radius: 25px;
    height: 40px;
    margin-top: 10px;
    width: 110px;
  }

  .button:focus {
    background-color: rgb(255, 139, 0);
    color: white;
  }

  .headerButtons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
  }

  .showCard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 1rem;
    width: 100%;

  }
}

