@media only screen and ( min-width : 360px ) and ( max-device-width : 640px ) {

  .botoes {
    background-color: rgb(255, 139, 0);
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 20%;
  }

  .todosbotoes {
    display: flex;
    justify-content: space-around;
  }
}
