@media only screen and ( min-width : 360px ) and ( max-device-width : 640px ) {

  .profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

  }

  .doneRecipes {
    background-color: rgb(255, 139, 0);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 60%;
  }

  .favoriteRecipes {
    background-color: rgb(255, 139, 0);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 60%;
  }

  .logoutButton {
    background-color: rgb(255, 139, 0);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 60%;
  }

  .email {
    color: rgb(255, 139, 0);
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: 5rem;
    text-align: center;
  }

}
