@media only screen and ( min-width : 360px ) and ( max-device-width : 640px ) {

  .footer {
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
  }

  .buttonsFooter {
    background-color: rgb(230, 7, 7);
    border: none;
  }
}

