.recommended-box {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.recommended-card {
  margin-left: 15px;
  text-align: center;
}

.carousel-img {
  width: 200px;
}

.start-button {
  bottom: 0;
  cursor: pointer;
  height: 40px;
  position: fixed;
  width: 200px;
}

